<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand ps-3" href="/">LISTE DES RESERVATIONS</a>
    <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/reservationsPage">| Retou à la page des réservations |</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/home">| Retour à l'accueil |</a>
        </li>
      </ul>
    </div>
  </nav>