<%- include('partials/header', { title: 'Reservations' }) %>

<div>
    <h1>Catway supprimé avec succés!</h1><br><br>
    <a href="/catwaysPage">Retour à la page des Catways</a><br>
    <a href="/home">Retour à la page d'accueil</a>
</div>