<%- include('partials/header', { title: 'Reservations' }) %>

<div>
    <h1>Réservation exclue avec succés!</h1><br><br>
    <a href="/reservationsPage">Retour à la page des réservations</a><br>
    <a href="/home">Retour à la page d'accueil</a>
</div>