<%- include('partials/header', { title: 'Reservations' }) %>

<div>
    <h1>Utilisateur supprimé avec succés!</h1><br><br>
    <a href="/users">Retour à la page des utilisateurs</a><br>
    <a href="/home">Retour à la page d'accueil</a>
</div>